@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}


@import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);


.card-image,
.img-fluid {
    overflow: hidden;
    position: relative;
    height: 280px;
    width: 280px;

}

.mb-45 {
    margin-bottom: 45px
}

.mt-100 {
  margin-top: 100px
}

.product-action {
    bottom: 0px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.6s ease 0s
}


.cost-featured {
  bottom: 250px;
  left: 0px;
  opacity: 0;
  position: absolute;
  right: 100;
  text-align: center;
  transition: all 0.6s ease 0s;
  color: #fff;
  opacity: 0;
  background-color: #808080;
  box-shadow: 0 0 4px 1.7px #ffc107e0;
  display: inline-block;
  padding: 3px 3px 3px
}

.card-image:hover  .cost-featured{
  opacity: 1
}

.card-image {
    border-radius: 10px
}

.img-fluid>span {
    background-color: #fff;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    left: 20px;
    letter-spacing: 1px;
    padding: 3px 12px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px
}

.product-action-style {
    background-color: #fff;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
    display: inline-block;
    padding: 16px 2px 12px
}

.product-action-style>a {
    color: #979797;
    line-height: 1;
    padding: 0 21px;
    position: relative
}



.card-image:hover .product-action{
    bottom: 20px;
    opacity: 1
}



.carousel-control-prev, .carousel-control-next {
    height: 44px;
    width: 40px;
    background: #ffc10773;
    margin: auto -25px;
    border-radius: 4px;
    opacity: 0.8;
  }
  .carousel-control-prev:hover, .carousel-control-next:hover {
    background: #f8bb03e1;
    opacity: 1;
  }
  .carousel-control-prev i, .carousel-control-next i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #f8f8f8;
    text-shadow: none;
    font-weight: bold;
  }
  .carousel-control-prev i {
    margin-left: -2px;
  }
  .carousel-control-next i {
    margin-right: -4px;
  }		

