
/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


.bg{
  background-image:url("");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../app/saloon/broken-black-eyeshadow-powder-background-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.book-btn{
  color: #7ac400;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #7ac400;
    padding: 15px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 50px;
  }
  .book-btn:hover {
    color: #fff;
    background: #7ac400;
    box-shadow: none;
  }
  .btn-small-ser {
    color: #7ac400;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #7ac400;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 35px;
  }
  .btn-small-ser:hover {
    color: #fff;
    background: #7ac400;
    box-shadow: none;
  }
  /* For small devices button */
  
  .btn-small {
    color:  #7ac400;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
  
    border: 1px solid #7ac400;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 13px;
    border-radius: 20px;
  }
  .btn-small:focus {
    color: #fff;
    background: #7ac400;
    box-shadow: none;
  }




.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%; 
  }
}

.card {
  /* background-color: transparent; */
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: transparent; 
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #f3f3f3 30%,  #000000 100%);
  /* background: transparent; */
}

.card_title {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}



/* .services-info{
width: 65%;
background-color: aqua;
} */
/* .view-cart{
width: 25%;
background-color: #747d89;
} */
